.DS_Store
/data/sequence/
#/data/cleaned_data/
__pycache__
written_project/
tree.*
*.bam*
/data/processed_sequences/
/data/omia_sql/
/sandbox/
ancestry_novel.sh
data/gene_variants/snp.list
data/ancestry/*
#data/ancestry/bam_list_grps/
hpc.txt
results/
example_format*
data/oral_diversity/taxonkit_misc
*.xlsx
checkEphemeral.py
checkEphemeral.sh
align2.sh
#copy.sh
dependancies/
data/gene_variants/annotate
rm_*
tmp_*
data/gene_variants/vcf
data/gene_variants/snp.list.info.csv
data/bam.list
data/no_merge.csv
data/to_merge.csv
data/snp_calling_list/*
dump_delete
