.DS_Store
/data/sequence/
/data/cleaned_data/
__pycache__
written_project/
tree.*
*.bam*
/data/processed_sequences/
/data/omia_sql/
/sandbox/
ancestry_novel.sh
data/gene_variants/snp.list
data/ancestry/*
hpc.txt
results/
example_format*
data/oral_diversity/taxonkit_misc
*.xlsx
checkEphemeral.py
checkEphemeral.sh
align2.sh
copy.sh
dependancies/
data/gene_variants/annotate