.DS_Store
/data/sequence/
#/data/cleaned_data/
__pycache__
written_project/
*.bam*
/data/processed_sequences/
/data/omia_sql/
/sandbox/
ancestry_novel.sh
data/gene_variants/snp.list
data/ancestry/*
#data/ancestry/bam_list_grps/
hpc.txt
example_format*
data/oral_diversity/taxonkit_misc
*.xlsx
checkEphemeral.py
checkEphemeral.sh
align2.sh
#copy.sh
dependancies/
data/gene_variants/annotate
rm_*
tmp_*
data/gene_variants/vcf
data/gene_variants/snp.list.info.csv
data/bam.list
data/no_merge.csv
data/to_merge.csv
data/snp_calling_list/*
dump_delete
mapping/fastq_screen.sh
sync.sh
tree.md

# results to exclude (due to size)
results/ancestry/archive/
results/ancestry/ALL_5kb_05maf
results/ancestry/ALL_5kb_02maf
results/ancestry/NO_PREZ_5kb_02maf
results/ancestry/treemix/old/
results/coverage
results/gene_to_trait/archive
results/oral_diversity/all_kreport.zip